.swipper {
    position: relative;
}



.dots {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8px;
    width: 43px;
    position: absolute;
    bottom: 8px;
    z-index: 5;
    left: 50%;
    transform: translate(-50%, 0);
}

.dot {
    height: 8px;
    width: 8px;
    border: 1px solid #fff;
    border-radius: 50%;
    background: #FFFFFF;
}

.active_dot {
    background: #5B5D72;
}
