.content {
    /*background: #FEF7FF;*/
    padding-bottom: 50px;
    padding-top: 32px;
}

.choose_category {
    margin-top: 64px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.category_item {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    transition: .3s all;
    cursor: pointer;
}

.wrapper {
    display: flex;
}

.category_title {
    color: #000;
    font-family: Roboto, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    position: relative;
    width: fit-content;
}

.content_items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 8px;
    margin-top: 12px;
}

.category_count {
    display: block;
    position: absolute;
    top: 0;
    right: -20px;
    color: var(--material-theme-sys-light-on-surface-variant, #47464F);
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px;
}

.search_box {
    position: relative;
    width: 100%;
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input {
    width: 100%;
    padding: 16px 0;
    padding-left: 40px;
    background: none;
    border: none;
    border-bottom: 1px solid #E3E1EC;
    color: var(--material-theme-sys-light-secondary, #5B5D72);
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px; /* 118.75% */
}

.input::placeholder {
    color: var(--material-theme-sys-light-secondary, #5B5D72);
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px; /* 118.75% */
}

.search_box svg {
    position: absolute;
    left: 0;
    fill: #1C1B1F;
}

.content_box {
    /*border: 1px solid red;*/
    margin-top: 16px;
    display: grid;
    grid-row-gap: 16px;
    width: 100%;
}
